body,
html {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  padding: 10px 0;
  background-color: #f4f1eb; /* Your Figma color */
}

.navbar__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo-img {
  height: 50px;
  width: auto;
}

.cart-icon {
  font-size: 24px;
  margin-left: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.cart-icon:hover {
  transform: scale(1.1);
}
